*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #9263b199;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor{
    cursor: pointer;
}

main{
    background-color: rgb(91, 77, 151);
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 100px auto 50px;
    gap: 5px;
    padding: 5px;
}

button{
    font-size: 20px;
}
button:hover{
    background-color: #bebebe;
    outline: none;
    border: none;
}

button:active{
    background-color: rgb(121, 121, 121);
}
.display{
    font-size: 40px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0 10px 10px 0;
}

.calculator-keys{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px ;
    grid-template-rows: 70px 70px 70px 70px 70px ;
    gap: 5px;
}

.result{
    grid-column: 4 / 5;
    grid-row: 2 / 6;
}

.uil{
    transform: rotate(180deg);
    margin-bottom: 11px;
    font-size: 25px;
    color: black;
}

.null{
    color: rgb(56, 56, 56);
}

.firstValue{
    position: absolute;
    top: 0;
    left: 0;
}

.displayOperation{
    margin: 0 10px;
}

.historic{
    position: relative;
    background-image: linear-gradient( to right top, rgb(199, 64, 152),  rgb(162, 49, 168));
    text-align: center;
}

.historic:hover{
    background-image: linear-gradient( to right top, rgb(195, 51, 145),  rgb(164, 34, 171));
}

.historic > h3 {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 10px;
    color: #ffffff;
    text-shadow: -.5px -.5px 0px #000,
                 -.5px .5px 0px #000,
                 .5px -.5px 0px #000,                  
                 .5px 0px 0px #000;
}


.dataHis{
    position: absolute;
    bottom: 0;
    width: 334px;
    height: 425px;
    background-color: #ffffffdd;
    text-align: start;
    padding: 20px;
    overflow: auto;
}

.uil-times-square{
    font-size: 30px;
    position: absolute;
    right: 33px;
    top: 120px;
    z-index: 10;
    cursor: pointer;
}

.uil-times-square:hover{
    background-color: #b0b0b0dd;
    border-radius: 3px;
    padding: 2px;
    transform: scale(1.1);
    right: 31px;
}

.contentResult{
    font-size: 18px;
    background-color: #c0c0c0;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.contentResult > span {
    margin-left: 10px;
}

.hide{
    display: none;
}
